@charset "UTF-8";
*{margin:0; padding:0; box-sizing: border-box;text-align: center;}
ul{padding: 0;margin:0;}
li{list-style: none;}
a{text-decoration: none; color:#222;}
.mainContent{
	width: 1000px;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mainContent>li{width: 100%;}
.logo{
	display: block;
	width: 150px;
	height: 100px;
	background: url("../img/rent_logo.jpg") no-repeat left/contain;
	cursor: pointer;
}
img{width: 100%;}
.bg-dark a{color:white;}

.range-control {
  position: relative;
}

input[type=range] {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

#inputRangeText {
  position: absolute;
  top: -32px;
  display: none;
  width: 50px;
  height: 24px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 3px;
  color: #777;
  font-size: .8em;
  line-height: 24px;
  text-align: center;
}

input[type=range]:active + #inputRangeText {
  display: block;
  transform: translateX(-50%);
}